
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<!-- Start Preloader -->
<div id="preload-block">
    <div class="square-block"></div>
</div>
<!-- Preloader End -->

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 authfy-panel-left">
            <!-- brand-logo start -->
            <div class="brand-logo text-center">
                <img src="images/brand-logo.png" width="150" alt="brand-logo">
            </div><!-- ./brand-logo -->
            <!-- authfy-login start -->
            <div class="authfy-login" style="min-height:570px">
                <!-- panel-login start -->
                <div class="authfy-panel panel-login text-center active">
                    <div class="authfy-heading">
                        <h3 class="auth-title">Login to your account</h3>
                        <p>Don’t have an account? <a class="lnk-toggler" data-panel=".panel-signup" href="#">Sign Up Free!</a></p>
                    </div>
                    <!-- social login buttons start -->
                    <div class="row social-buttons">
                        <div class="col-xs-4 col-sm-4">
                            <a href="#" class="btn btn-lg btn-block btn-facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <a href="#" class="btn btn-lg btn-block btn-twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <a href="#" class="btn btn-lg btn-block btn-google">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div><!-- ./social-buttons -->
                    <div class="row loginOr">
                        <div class="col-xs-12 col-sm-12">
                            <span class="spanOr">or</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            @if (@ViewBag.ErrorMessage != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.ErrorMessage
                                </div>
                            }
                            <form name="loginForm" class="loginForm" action="@Url.Action("Login", "Login")" method="POST">
                                <div class="form-group">
                                    <input type="email" class="form-control email" name="email" id="email" placeholder="Email address">
                                </div>
                                <div class="form-group">
                                    <div class="pwdMask">
                                        <input type="password" class="form-control password" name="password" id="password" placeholder="Password">
                                        <span class="fa fa-eye-slash pwd-toggle"></span>
                                    </div>
                                </div>
                                <div class="row remember-row">
                                    <div class="col-xs-6 col-sm-6">
                                        <label class="checkbox text-left">
                                            <input type="checkbox" value="remember-me"><span class="label-text">Remember me</span>
                                        </label>
                                    </div>

                                </div> <!-- ./remember-row -->
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login with email</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- ./panel-login -->
                <!-- panel-signup start -->
                <div class="authfy-panel panel-signup text-center">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="authfy-heading">
                                <h3 class="auth-title">Sign up for free!</h3>
                            </div>
                            <form name="signupForm" class="signupForm"action="@Url.Action("Index", "Login")" method="POST">

                                <div class="form-group">
                                    <input type="text" class="form-control" name="Name" id="Name"  placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="Surname" id="Surname"  placeholder="Surname">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="userName" id="userName"  placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Email address">
                                </div>
                                <div class="form-group">
                                    <div class="pwdMask">
                                        <input type="password" class="form-control" name="password" id="password"  placeholder="Password">
                                        <span class="fa fa-eye-slash pwd-toggle"></span>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up with email</button>
                                </div>
                            </form>
                            <a class="lnk-toggler" data-panel=".panel-login" href="#">Already have an account?</a>
                        </div>
                    </div>
                </div> <!-- ./panel-signup -->
                <!-- panel-forget start -->
                <div class="authfy-panel panel-forgot">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            <div class="authfy-heading">
                                <h3 class="auth-title">Recover your password</h3>
                                <p>Fill in your e-mail address below and we will send you an email with further instructions.</p>
                            </div>
                            <form name="forgetForm" class="forgetForm" action="#" method="POST">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="username" placeholder="Email address">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Recover your password</button>
                                </div>
                                <div class="form-group">
                                    <a class="lnk-toggler" data-panel=".panel-login" href="#">Already have an account?</a>
                                </div>
                                <div class="form-group">
                                    <a class="lnk-toggler" data-panel=".panel-signup" href="#">Don’t have an account?</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> <!-- ./panel-forgot -->
            </div> <!-- ./authfy-login -->
        </div> <!-- ./authfy-panel-left -->
        <div class="col-md-7 col-lg-8 authfy-panel-right hidden-xs hidden-sm">
            <div class="hero-heading">
                <div class="headline">
                    <h3>Welcome to Travel Blog</h3>
                    
                </div>
            </div>

        </div>
    </div> <!-- ./row -->
</div> <!-- ./container -->
