<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FusionBlog - Personal Blog Theme">
    <meta name="keywords" content="Html, Css, jQuery, JavaScript, FusionBlog, blog, personal blog, template, news theme">

    <!-- Title -->
    <title>Travel And Share</title>
    <!-- Favicon -->
    <link rel="icon" href="~/Content/Website/assets/images/icon.png">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="~/Content/Website/assets/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/Content/Website/assets/css2-1?family=Dancing+Script:wght@700&display=swap">

    <!-- Font Awesome Css -->
    <link rel="stylesheet" href="~/Content/Website/assets/css/font-awesome.min.css">
    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="~/Content/Website/assets/css/bootstrap.min.css">
    <!-- Slick Css -->
    <link rel="stylesheet" href="~/Content/Website/assets/css/slick.min.css">
    <!-- Main Style Css -->
    <link rel="stylesheet" href="~/Content/Website/assets/css/main.css">

    <!--[if lt IE 9]>
    <script src="~/Content/Website/assets/js/html5shiv.min.js"></script>
    <script src="~/Content/Website/assets/js/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon -->

</head>
<body>


  
    @RenderBody()



    @RenderSection("scripts", required: false)
    <!-- ========== End Footer ========== -->
    <!-- ========== Js ========== -->
    <!-- jQuery -->
    <script src="~/Content/Website/assets/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap Js -->
    <script src="~/Content/Website/assets/js/bootstrap.min.js"></script>
    <!-- Slick Js -->
    <script src="~/Content/Website/assets/js/slick.min.js"></script>
    <!-- Main Js -->
    <script src="~/Content/Website/assets/js/main.js"></script>
    <!-- initialize jQuery Library -->

</body>
</html>
