<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- For Search Engine Meta Data  -->
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="yoursite.com" />

    <title>Travel And Share</title>

    <link rel="shortcut icon" type="image/icon" href="~/Content/Login/assets/images/favicon-16x16.png" />

    <!-- Main structure css file -->
    <link rel="stylesheet" href="~/Content/Login/assets/css/login2-style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if IE]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    
        @RenderBody()
  
   
    <script src="~/Content/Login/assets/js/jquery-2.2.4.min.js"></script>

    <!-- for Bootstrap js -->
    <script src="~/Content/Login/assets/js/bootstrap.min.js"></script>

    <!-- Custom js-->
    <script src="~/Content/Login/assets/js/custom.js"></script>

</body>
</html>
